
.center
{
  text-align: center!important;
}

.fullWidth
{
  width:100%!important;
}

div:hover,div:active,div:focus
{
  outline: 0;
}

.right
{
  text-align: right;
  margin: 20px 150px;
}

.underline
{
  font-weight: 900;
  text-decoration: underline;
  text-decoration-style: solid;
}

.bold
{
  font-weight: 900;
}

.bold-line
{
  border-top: 3px solid black!important;
}

.letter
{
  margin: 0px 50px!important;
}

.line-0
{
  line-height: 0!important;
}

.inline
{
  display:inline;
}

.no-bold
{
  font-weight: 100!important;
}

.f-right
{
  float:right;
}

.yes
{
  top: 250px!important;
  margin-top: 0px!important;
  bottom: auto!important;
}
